*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1rem = 8px; 8/16 = 50%
    }

    @include respond(tab-land) { // width < 1367?
        font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    }
}

body {
    padding: 2rem 2rem;
    box-sizing: border-box;
    background-color: $color-black-chocolate;
    font-size: $default-font-size;

    @include respond(tab-port) {
        padding: 3rem 3rem;
    }
}

.overflowhidden {
    overflow: hidden !important;
}

@media print {
    body * {
      visibility: hidden !important;
      width: 100%;
      background-color: white !important;
    }

    .container {
        width: auto !important;
        display: block !important;
        padding: 0 0 !important;
        margin: 0 0 !important;
        min-height: 0 !important;
    }

    .heading-row {
        display: none !important;
    }

    .row {
        margin: 0 0 !important;
    }

    .starter-btns {
        display: none !important;
    }

    #tutorial, #tutorial * {
        opacity: 1;
        visibility: visible !important;
        color: black !important;
        box-shadow: none;
        font-size: 1.6rem !important;
    }

    #tutorial {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }

    .popup__content {
        background-color: transparent !important;
        color: black !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
    }
    
}