*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; // 1rem = 8px; 8/16 = 50%
    }

    @include respond(tab-land) {
        // width < 1367?
        font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    }
}

body {
    padding: 2rem 2rem;
    box-sizing: border-box;
    background-color: $color-black-chocolate;
    font-size: $default-font-size;

    @include respond(tab-port) {
        padding: 3rem 3rem;
    }
}

.overflowhidden {
    overflow: hidden !important;
}
