.btn,
.btn:link,
.btn:visited {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: $buttons-font-size;
    font-weight: 400;
    text-decoration: none;
    border: thin solid $color-mantis;
    border-radius: 0;
    background: transparent;
    color: $color-black-chocolate;
    outline: none;
    padding: 0.8rem 2rem;
    position: relative;
    transition: 0.3s;

    @include respond(tab-port) {
        font-size: 2.2rem;
    }

    &::after {
        content: "";
        background-color: $color-salmon;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 0.8rem;
        left: 0.8rem;
        transition: 0.3s;
    }

    &:hover {
        border: thin solid $color-salmon;
    }

    &:hover::after {
        top: 0px;
        left: 0px;
    }
}

.btn-inverted,
.btn-inverted:link,
.btn-inverted:visited {
    border: thin solid $color-black-chocolate;
    color: $color-salmon;

    &::after {
        background-color: $color-black-chocolate;
    }

    &:hover {
        border: thin solid $color-black-chocolate;
    }
}

.btn-ma-top {
    margin-top: 4rem;
}
