// Colors
$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black-chocolate: #131200;
$color-mantis: #78bc61;
$color-dark-khaki: #C0C781;
$color-camel: #C59B76;
$color-salmon: #E9806E;

// Font
$default-font-size: 1.6rem;
$h1-font-size: 6.7rem;
$main-headline-font-size: 4.2rem;
$buttons-font-size: 2.6rem;