.sentence {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: $color-white;
    margin-left: 2rem;
    margin-top: 1rem;

    @include respond(tab-port) {
        margin-top: 2rem;
        margin-left: 0;
    }

    &::after {
        content: ".";
        font-size: $default-font-size;
    }
}

.word {
    margin: 0 0.5rem;
    font-size: $default-font-size;
}

.fillable {
    min-width: 2rem;
    font-size: $default-font-size;
}
