.ddcontainer {
    display: inline-block;
    font-size: $default-font-size;
    text-align: center;
    transition: all 0.2s;
    color: $color-white;

    &:not(:first-child) {
        margin: 0.5rem 0.5rem;
    }
}
