.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    min-height: 90vh;
}

.row {
    width: 100%;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sentence-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 6rem;
}

.words-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    & > .row {
        margin: 0 0;
    }
}

.btns-row {
    justify-content: space-evenly;

    @include respond(tab-port) {
        margin: 2rem 0;
        justify-content: space-between;
    }
}

.bottom-btns-row {
    justify-content: space-evenly;
    margin: 4rem 0;
}

.results {
    margin-top: 4rem;
    text-align: center;
}

.final-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 0;

    @include respond(tab-port) {
        margin: 0 0 4rem 0;
    }
}

.col {
    display: flex;
    flex-direction: row;

    @include respond(tab-port) {
        &:last-child {
            margin-top: 4rem;
        }
    }
}
